@import '../../../../assets/breakpoints.scss';

.vehicle-search {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: 16px auto;
  
  @media (min-width: $breakpoint-desktop) {
    width: 40vw;
  }
  
  .form-group{
    display: flex;
    flex-direction: column;
    
    @media (min-width: $breakpoint-desktop) {
      flex-direction:row;
      justify-content: space-between;

      mat-slider {
        width: -webkit-fill-available;
      }
    }
    
    .form-element {
      margin: 8px auto;
    }
  
    & mat-label {
      margin-bottom: 12px;
    }
  }
}
